
@{
    ViewBag.Title = "Index";
}

@*<h2 style="padding-top:30px;">Welcome To <span>Aspira System</span></h2>*@
<br />
<h4>If you are ready for Hard work,we will help you to become job Ready</h4>

<h2>Who can get  Skilled  in  <span>Employee Sector</span> </h2>


<div class="skill">
    <ul class="text">
        <li>Literally “ANYONE” with any background (Bsc, Bcom, BA, BE, etc) & of any age</li>
        <li>Ideal time to learn is 3rd Year of college</li>
        <li>Basic Skill development will need minimum 2 month</li>
        <li>Advance skill will require hardcore full time effort of 6 months</li>
    </ul>
    @*<div class="img">
        <img src="~/Images/Think aspimg.png" />
    </div>*@
</div>

<div class="motive">
    <img src="~/Images/home.cards1.png" />
    <img src="~/Images//home.cards2.png" />
    <img src="~/Images/home.cards3.png" />
</div>


<style>

    .motive {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .motive img {
        box-shadow: 6px 4px 15px #000000ea;
        height:35vh;
        width:17%;
     }



    body {
        font-family: sans-serif;
    }
    h2,h4{
        text-align: center;
    }
    h2 span {
        color: lightseagreen;
    }
    .text{
        word-spacing:2px;
        line-height:2rem;
        font-weight:400;
    }
    .text .li{
        list-style:circle;
    }
    h4 {
        color: #6E93f7;
    }
    .skill{
        padding-top:1%;
        display:flex;
        justify-content:space-around;
    }
        .skill img {
            height: 11em;
            width: 18rem;
            border-radius: 1rem;
        }

</style>
